@model Miniprojrect.Models.ProjectOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProjectOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectPizza.PizzaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectPizza.PizzaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectUser.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectUser.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
